@font-face{
  font-family: 'Montserrat-Black';
  src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face{
  font-family: 'Montserrat-BlackItalic';
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.ttf);
}
@font-face{
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
  font-family: 'Montserrat-BoldItalic';
  src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
}
@font-face{
  font-family: 'Montserrat-ExtraBold';
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face{
  font-family: 'Montserrat-ExtraBoldItalic';
  src: url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}
@font-face{
  font-family: 'Montserrat-ExtraLight';
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face{
  font-family: 'Montserrat-ExtraLightItalic';
  src: url(../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
}
@font-face{
  font-family: 'Montserrat-Italic';
  src: url(../fonts/Montserrat/Montserrat-Italic.ttf);
}
@font-face{
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face{
  font-family: 'Montserrat-LightItalic';
  src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf);
}
@font-face{
  font-family: 'Montserrat-Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face{
  font-family: 'Montserrat-MediumItalic';
  src: url(../fonts/Montserrat/Montserrat-MediumItalic.ttf);
}
@font-face{
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
  font-family: 'Montserrat-SemiBold';
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face{
  font-family: 'Montserrat-SemiBoldItalic';
  src: url(../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf);
}
@font-face{
  font-family: 'Montserrat-Thin';
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face{
  font-family: 'Montserrat-ThinItalic';
  src: url(../fonts/Montserrat/Montserrat-ThinItalic.ttf);
}


@font-face{
  font-family: 'Poppins-Black';
  src: url(../fonts/Poppins/Poppins-Black.ttf);
}
@font-face{
  font-family: 'Poppins-BlackItalic';
  src: url(../fonts/Poppins/Poppins-BlackItalic.ttf);
}
@font-face{
  font-family: 'Poppins-Bold';
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face{
  font-family: 'Poppins-BoldItalic';
  src: url(../fonts/Poppins/Poppins-BoldItalic.ttf);
}
@font-face{
  font-family: 'Poppins-ExtraBold';
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face{
  font-family: 'Poppins-ExtraBoldItalic';
  src: url(../fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
}
@font-face{
  font-family: 'Poppins-ExtraLight';
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face{
  font-family: 'Poppins-ExtraLightItalic';
  src: url(../fonts/Poppins/Poppins-ExtraLightItalic.ttf);
}
@font-face{
  font-family: 'Poppins-Italic';
  src: url(../fonts/Poppins/Poppins-Italic.ttf);
}
@font-face{
  font-family: 'Poppins-Light';
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face{
  font-family: 'Poppins-LightItalic';
  src: url(../fonts/Poppins/Poppins-LightItalic.ttf);
}
@font-face{
  font-family: 'Poppins-Medium';
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face{
  font-family: 'Poppins-MediumItalic';
  src: url(../fonts/Poppins/Poppins-MediumItalic.ttf);
}
@font-face{
  font-family: 'Poppins-Regular';
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face{
  font-family: 'Poppins-SemiBold';
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face{
  font-family: 'Poppins-SemiBoldItalic';
  src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}
@font-face{
  font-family: 'Poppins-Thin';
  src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face{
  font-family: 'Poppins-ThinItalic';
  src: url(../fonts/Poppins/Poppins-ThinItalic.ttf);
}



