body {
  font-family: $Montserrat-Regular !important;
}


// fonts
h1, .h1 {
  font-family     : $Montserrat-Bold;
  letter-spacing  : 2.2px;
}


p, .paragraph {
  font-family: $Poppins-Regular;
  font-size: $base;
}
