<div class="glide" #glide>
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides py-3">
      <li class="glide__card" *ngFor="let item of List" uiSref="playlist" [uiParams]="{id: item.id}">
        <img class="avatar--{{imgSize}} rounded shadow-sm" [src]="listOf=='playlist' ? item.images[0].url : item.album.images[0].url">
        <div class="p-1 pr-3">
          <span class="font-weight-bold">{{listOf=='playlist' ? item.name : item.album.name}}</span>
          <small class="d-block text-secondary">{{(listOf=='playlist' ? item.type  : item.album.type)}}</small>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="List.length > perView && isMounted" class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow rounded-circle bg-white glide__arrow--left" data-glide-dir="<"><i class="far fa-chevron-left"></i></button>
    <button class="glide__arrow rounded-circle bg-white glide__arrow--right" data-glide-dir=">"><i class="far fa-chevron-right"></i></button>
  </div>
</div>
